#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--main-border);
  margin-bottom: 10px;
}

.friends-screen {
  padding: var(--horizontal-space);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  background-image: url("https://c.wallhere.com/photos/39/55/2560x1600_px_Charlie_Brown_minimalism_Peanuts_comic-1301281.jpg!d");
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  color: white;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 3s ease-in-out forwards;
}
